language: minimal
services:
  - docker

env:
  global:
    - DOCKER_IMAGE_NAME: japaneserestream/jr-layouts

script:
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
  - docker build --tag $DOCKER_IMAGE_NAME:latest .
  - docker push $DOCKER_IMAGE_NAME:latest
  - |
    if [[ $TRAVIS_BRANCH ]] && ! [[ $TRAVIS_PULL_REQUEST = "false" ]]
    then
      docker tag $DOCKER_IMAGE_NAME:latest $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
      docker push $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
    fi
