language: minimal
dist: trusty
sudo: false

env:
  DOCKER_IMAGE_NAME: japaneserestream/jr-layouts
  DOCKER_IMAGE_TAG: latest

cache:
  directories:
    - $HOME/docker-cache

before_script:
  - |
    if [[ -d ~/cache ]]
    do
      docker load --input "~/cache/$DOCKER_IMAGE_NAME.tar"
    done

script:
  - docker build --tag $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .

after_script:
  - mkdir -p ~/docker-cache
  - docker save --output "~/docker-cache/$DOCKER_IMAGE_NAME.tar" "$DOCKER_IMAGE_NAME" \
    $(docker history --quiet "$DOCKER_IMAGE_NAME" | tail -n +2 | grep -v \<missing\> | tr '\n' ' ')
