language: minimal
dist: trusty
sudo: false

env:
  global:
    - DOCKER_IMAGE_NAME: japaneserestream/jr-layouts
    - DOCKER_IMAGE_TAG: latest

cache:
  directories:
    - $HOME/docker-cache

script:
  - |
    if [[ -d ~/cache ]]
    then
      docker load --input "~/cache/$DOCKER_IMAGE_NAME.tar"
    fi
  - docker build --tag $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .
  - mkdir -p $(dirname "~/docker-cache/$DOCKER_IMAGE_NAME")
  - |
    docker save --output "~/docker-cache/$DOCKER_IMAGE_NAME.tar" "$DOCKER_IMAGE_NAME" \
    $(docker history --quiet "$DOCKER_IMAGE_NAME" | tail -n +2 | grep -v \<missing\> | tr '\n' ' ')
