language: minimal
services:
  - docker

env:
  global:
    - WEBHOOK_SCRIPT: https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh

before_script:
  - make docker-login

script:
  - make docker-build

after_success:
  - curl -sfL "$WEBHOOK_SCRIPT" > /tmp/send.sh
  - chmod +x /tmp/send.sh
  - /tmp/send.sh success $WEBHOOK_URL

after_failure:
  - curl -sfL "$WEBHOOK_SCRIPT" > /tmp/send.sh
  - chmod +x /tmp/send.sh
  - /tmp/send.sh failure $WEBHOOK_URL

deploy:
  - provider: script
    script: make docker-push-branch
    on:
      all_branches: true
  - provider: script
    script: make docker-push-latest
    on:
      branch: master
  - provider: script
    script: eval "$(ssh-agent -s)" && make deploy-staging
    on:
      branch: staging
