language: minimal
services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

env:
  global:
    - DOCKER_IMAGE_NAME: japaneserestream/jr-layouts
    - DOCKER_BUILDKIT: 1

before_script:
  - echo '{"experimental":true}' | sudo tee /etc/docker/daemon.json
  - sudo service docker restart
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

script:
  - |
    docker build --tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID . \
      --build-arg VCS_REF=$(git rev-parse --short HEAD) \
      --build-arg BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
      --build-arg VERSION=$TRAVIS_BRANCH
  - |
    if [[ $TRAVIS_PULL_REQUEST = "false" ]]
    then
      docker tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
      docker push $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
    fi

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
