language: minimal
services:
  - docker

env:
  global:
    - DOCKER_IMAGE_NAME: japaneserestream/jr-layouts

before_script:
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

script:
  - |
    docker build --tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID . \
      --build-arg VCS_REF=$(git rev-parse --short HEAD) \
      --build-arg BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
      --build-arg VERSION=$TRAVIS_BRANCH

deploy:
  - provider: script
    script: |
      docker tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH && \
      docker push $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
    on:
      all_branches: true
  - provider: script
    script: echo start && sleep 60 && echo done
    on:
      all_branches: true
  - provider: script
    script: |
      docker tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID $DOCKER_IMAGE_NAME:latest && \
      docker push $DOCKER_IMAGE_NAME:latest
    on:
      branch: master

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
