language: minimal
dist: trusty
sudo: false

env:
  global:
    - DOCKER_IMAGE_NAME: japaneserestream/jr-layouts
    - DOCKER_IMAGE_TAG: latest

cache:
  directories:
    - $HOME/docker-cache

script:
  - |
    if [[ -d ~/docker-cache ]]
    then
      ls $HOME/docker-cache/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"
    fi
  - docker build --tag $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG --rm false .
  - mkdir -p $HOME/docker-cache
  - docker images -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}} {{.ID}}' | xargs -n 2 -t sh -c 'test -e $HOME/docker-cache/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker-cache/$1.tar.gz'
