language: minimal
services:
  - docker

env:
  global:
    - DOCKER_IMAGE_NAME: japaneserestream/jr-layouts

script:
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
  - docker build --tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID .
  - |
    if [[ $TRAVIS_BRANCH = "master" ]]
    then
      docker tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID $DOCKER_IMAGE_NAME:latest
      docker push $DOCKER_IMAGE_NAME:latest
    fi
  - |
    if [[ $TRAVIS_PULL_REQUEST = "false" ]]
    then
      docker tag $DOCKER_IMAGE_NAME:$TRAVIS_BUILD_ID $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
      docker push $DOCKER_IMAGE_NAME:$TRAVIS_BRANCH
    fi

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
