version: 2

jobs:
  build:
    docker:
      - image: circleci/node:10.12.0-stretch
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.05.0-ce
          docker_layer_caching: true
      - run:
          name: Build and Push
          command: |
            TAG=0.0.$CIRCLE_BUILD_NUM
            docker build -t japaneserestream/jr-layouts:$TAG .
            docker tag japaneserestream/jr-layouts:$TAG japaneserestream/jr-layouts:latest
            echo $DOCKER_PASS | docker login --username $DOCKER_USER --password-stdin
            docker push japaneserestream/jr-layouts:$TAG
            docker push japaneserestream/jr-layouts:latest
      - run:
          name: Deploy
          command: |
            ssh $SSH_USER@$SSH_HOST "echo hogehoge"
