@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 100;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-thin.woff2) format('woff2');
}
@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 300;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-light.woff2) format('woff2');
}
@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 400;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 500;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-medium.woff2) format('woff2');
}
@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 700;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-bold.woff2) format('woff2');
}
@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 800;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-heavy.woff2) format('woff2');
}
@font-face {
	font-family: 'Rounded Mplus 1c';
	font-style: normal;
	font-weight: 900;
	src: url(../../shared/vendor/fonts/rounded-mplus-1c-black.woff2) format('woff2');
}
