@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

body {
	color: #d4dff2;
	background-color: #29164e;
	text-shadow: #dfdff2 0px 0px 3px;
	margin: 0 0;
	font-family: 'M PLUS Rounded 1c';
	line-height: 1.25;
}
