@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

body {
	color: #ceecfd;
	background-color: #080811;
	text-shadow: #ceecfd 0px 0px 5px;
	margin: 0 0;
	font-family: 'M PLUS Rounded 1c';
	line-height: 1.25;
}
