name: CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node-version: ['10', '12', '14']
                os: [windows-latest, macOS-latest, ubuntu-latest]
            fail-fast: false
        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install
              run: yarn install --frozen-lockfile
            - name: Test
              run: yarn test
            - name: Build
              run: yarn build
