name: CI

on:
  push:
    branches:
      - master
    tags:
      - "**"
  pull_request:
    branches:
      - master

jobs:
  test-minimum:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm
          restore-keys: ${{ runner.os }}-npm
      - run: npm ci
      - run: npm run test
      - run: npm run build

  test-matrix:
    needs: test-minimum
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ["12", "14"]
        os: ["windows-latest", "macos-latest", "ubuntu-latest"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm
          restore-keys: ${{ runner.os }}-npm
      - run: npm ci
      - run: npm run test
      - run: npm run build

  build-image:
    if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
    needs: test-minimum
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: ${{ runner.os }}-buildx-
      - uses: crazy-max/ghaction-docker-meta@v1
        id: docker_meta
        with:
          images: ghcr.io/japaneserestream/jr-layouts
          tag-sha: true
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: hoishin
          password: ${{ github.token }}
      - uses: docker/build-push-action@v2
        with:
          push: true
          build-args: TYPEKIT_ID=${{ secrets.TYPEKIT_ID }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
      - uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_ICON: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
          SLACK_MESSAGE: japaneserestream/jr-layouts Docker image is ready
          SLACK_USERNAME: GitHub
